
.cards{
    justify-content:space-between;
    display:inline-block;
   
    overflow-y: hidden;
    overflow-x: scroll;
        
    white-space:nowrap
    
}

/* div.card{
    width: 300px;
    height: 200px;

} */