.vista{
    overflow-x: auto;
    white-space: nowrap;
    }
/* 
.cards{
    width:18rem;

    } */

h1{
    flex-direction: row;
    color: yellow;
    
}
body{
    background-color: black;
}


img.imcarg-fluid rounded-start{
    
    width: 200px;
    height: 500px;

}